<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link rel="stylesheet" type="text/css" href="blog.css">
	</head>
	<div id="app" v-cloak>
        <v-app>
			<v-content>
                <v-toolbar class="blue-grey lighten-5">
                    <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
                    <v-toolbar-title>A Collector's Blog</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn flat @click="page = 'blog' ">Blog</v-btn>
                        <v-btn flat @click="page = 'post' ">New Post</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-navigation-drawer app v-model="drawer">
                    <v-list>
                        <v-list-tile v-for="post in posts">
                            <v-list-content>
                                <v-list-tile-title>
                                    {{post.title}}
                                </v-list-tile-title>
                            </v-list-content>
                        </v-list-tile>
                    </v-list>
                </v-navigation-drawer>

                <div v-if="page == 'blog' ">
                    <v-flex xs12 sm4 align-self-end>
                        <v-select
                            :items="categories"
                            label="Search"
                            editable
                            item-value="text"
                            v-model="selected_category">
                        </v-select>
                    </v-flex><br>
                    <v-container fluid>
                        <v-layout column wrap>
                            <v-flex xs3></v-flex>
                            <v-flex xs6 v-for="post in sortedPosts">
                                    <v-card elevation=10 class="pa-3 ma-2">
                                        <v-layout>
                                            <v-flex xs5>
                                                <v-img v-bind:src="post.image"height=300 contain class="pa-0 align-items=top">
                                                    
                                                </v-img>
                                                <v-btn icon class="bottom right" v-if="show_delete" @click="deletePost(post)"><v-icon>delete</v-icon></v-btn>
                                            </v-flex>
                                            <v-flex xs7>
                                                <span class="headline text-uppercase">{{post.title}}</span>
                                                <span class="title grey--text text--lighten-2">by {{post.author}}</span>
                                                <v-spacer></v-spacer>
                                                <span>{{post.date}}</span><br><br>
                                                <span>{{post.text}}</span>
                                                
                                            </v-flex>
                                        </v-layout>      
                                    </v-card><br>
                            </v-flex>
                            <v-flex xs3></v-flex>
                        </v-layout>
                    </v-container>
                </div>


                <div v-if="page == 'post' ">
                    <v-container fluid>
                        <v-layout>
                            <v-flex xs2></v-flex>
                            <v-flex xs8 text-xs-center>
                                <v-card class="pa-3 mt-2">
                                    <div class="display-1 grey--text text--darken-2">New Post</div>
                                    <v-text-field label="new post title" clearable v-model="new_post_title"></v-text-field>
                                    <v-text-field label="author's name" clearable v-model="new_post_author"></v-text-field>
                                    <v-flex > 
                                        <v-select
                                            :items="categories"
                                            label="choose a category"
                                            editable
                                            item-value="text"
                                            width=100
                                            v-model="new_post_category">
                                        </v-select>
                                    </v-flex>
                                    
                                    <v-text-field label="link to image" clearable v-model="new_post_image"></v-text-field>
                                    <v-textarea
                                       name="blogtext"
                                       label="describe your collection"
                                       v-model="new_post_text">
                                    </v-textarea>
                                    <v-btn flat class="grey--text text--darken-2" @click="newPost()">post this post</v-btn>
                                </v-card>
                            </v-flex>
                            <v-flex xs2></v-flex>
                        </v-layout>
                    </v-container>


                                
                </div>
			</v-content>
		</v-app>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="blog.js"></script>
</html>